<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vrinda Tech Apps</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Tulasi sai kumar</h2>
    <a href="8712387892" target="_blank">8712387892<br></a>
    <a href="tskgadini@gmail.com" target="_blank">tskgadini@gmail.com<br></a>
    <a href="https://github.com/your_username/your_repository" target="_blank">GitHub Repo</a>

    <h2>how to run this project</h2>
    <p>do migrations =python manage.py makemigrations app</p>
    <p>python manage.py migrate</p>
    <p>create super user by command=python manage.py create_office_head_superuser t@gmail.com 123456 like this</p>
    <p>python manage.py runserver</p>
    <p>http://127.0.0.1:8000/</p>
    <p>http://127.0.0.1:8000/admin/</p>
</body>
</html>
